.banner {
	background: linear-gradient(rgba(228, 225, 226, 0.74), rgba(138, 1, 65, 0.678)), url(/img/1.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;

	&--box {
		color: $beige;
		text-align: center;
		font-family: $title;

		a{
			display: inline-block;
			padding: .8em;
			border-radius: 2em;
			font-size: 1.1em;
			font-family: $title;
			text-decoration: none;
			color: $beige;
			background: $pink;
			border: .1em solid $beige;
			transition: background 3s ease, border 0.5s ease;

			&:hover {
				background: transparent;
				border: .2em solid $pink;
			}
		}
	}

	&--title {
		text-transform: capitalize;
		font-size: 6em;
	}

	&--underline {
		width: 3.2em;
		margin: 0.2em auto;
		border: 0.2em solid $pink;
	}

	&--subtitle {
		margin: 0.4em 0 0.6em 0;
		font-size: 1.6em;
	}


}
